.payment-card {
  max-width: 500px;
  background: gainsboro;
  margin: 3rem auto;
}
.card-title{
  font-size: 30px;
  padding: 28px;
}
.card-header{
}
.card-content{
  font-size: 15px;
}
.card-label{
  margin-bottom: 0.8rem;
  font-size: 20px;
}
.book-btn{
  background: #1f1fe8;
  color: #ffff !important;
  position: relative;
  left: 200px;
}
