.book-btn{
  background: #1f1fe8;
  color: #ffff!important;
  margin-top: 2rem;
}
.booking-container{
  padding: 2rem;
}
.booking-form{
  background: rgba(247, 255, 254, 0.96);
}
.book-button{
  text-align: end;
}
